In [1]:
from requests import get
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
g = get("http://www.hsquizbowl.org/db/tournaments/4497/stats/round_robin/playerdetail/").text
soup = BeautifulSoup(g, "html5lib")

In [3]:
def player_from_table(table):
    df = pd.read_html(str(table), header=0, index_col=0)[0]
    # Recalculate
    del df["P/TU"]
    del df["P/N"]
    del df["G/N"]
    return df

In [4]:
name_fix = {
    "Han": "Yifan",
    "Darien": "Darren"  
}
last_name = {
    "Jasmine": "C",
    "Alison": "W",
    "Lui": "K"
}

players = {f"State College {l}": {} for l in "ABCDEF"}
for i in soup.find_all("h2"):
    try:
        player, team = map(str.strip, i.text.split(","))
    except:
        continue
    if not team.startswith("State College") or player == "Patrick":
        continue
    elif team == "State College D":
        first, last = player, last_name[player]
    else:
        first, last = player.split(" ")
        last = last[0]
        if first in name_fix:
            first = name_fix[first]
    players[team][f"{first} {last}"] = player_from_table(i.next_sibling.next_sibling)

In [5]:
players["State College A"]["Chris K"]

                            GP  15  10  -5  TUH  Pts
Opponent
Mannheim Township Middle   1.0   2   1   0   20   40
State College F            1.0   2   3   0   20   60
State College C            1.0   1   4   0   20   55
Huntingdon A               1.0   1   3   0   20   45
State College E            1.0   2   5   0   20   80
Camp Hill                  1.0   1   2   0   20   35
Manheim Township B         1.0   1   3   0   20   45
State College D            1.0   2   4   0   20   70
Manheim Township A         1.0   4   3   0   20   90
State College B            1.0   0   4   0   20   40
Total                     10.0  16  32   0  200  560